<div class="container-fluid p-0 d-flex w-100 h-100 flex-column bg-style justify-content-center">

  <div class="container text-center ">
    <i class="fas fa-exclamation-triangle fa-5x text-white mb-3"></i>
    <h3 class="text-white mb-3">Página não encontrada.</h3>
    <div class="row align-items-center">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 p-4 bg-light rounded" style="opacity: 0.75;">
        <p class="font-weight-bold">A página que você procura não existe ou está indisponível no momento.</p>
        <a class="font-weight-bolder" style="cursor: pointer" [routerLink]="['/']"><i
            class="fas fa-arrow-left mr-2"></i>
          Voltar
          para Home</a>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>

</div>